<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <header>
      <div class="header-left">
        <img src="./images/catalog_logo.png" alt="Restaurant Catalog Logo" />
        <h1>Restaurant Apps</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/your-profile">About Us</a>
          </li>
        </ul>
      </nav>
      <!--<button class="menu-toggle">&#9776;</button>-->
      <button class="menu-toggle">&#9776;</button>
    </header>

    <!-- Sidebar -->
    <div class="sidebar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/your-profile">About Us</a>
          </li>
        </ul>
      </nav>
    </div>

    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada
      ./images/heros sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
    <script src="./scripts/index.js"></script>
  </body>
</html>
