<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Restaurant Apps</div>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <div class="menu-toggle">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <!-- Hero Element (Jumbotron Element) -->
    <!-- Daftar Restoran -->

    <footer>
      <p>&copy; 2024 - Restaurant Apps</p>
    </footer>

    <script src="./scripts/index.js"></script>
  </body>
</html>
