/* main.css */

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333;
}

img {
  display: block;
  max-width: 100%; /* Pastikan gambar tidak melebihi ukuran kontainer */
}

/* Style untuk header */
header {
  background-color: #fea82f; /* warna latar belakang */
  padding-left: 10px; /* padding untuk memberikan ruang di sekitar konten */
  padding-top: 10px; /* padding untuk memberikan ruang di sekitar konten */
  padding-bottom: 10px; /* padding untuk memberikan ruang di sekitar konten */
  display: flex; /* membuat elemen header menjadi flex container */
  justify-content: space-between; /* mengatur ruang di antara elemen header */
  align-items: center; /* mengatur konten di tengah secara vertikal */
  position: fixed;
  width: 100%;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Style untuk logo dan judul */
.header-left {
  display: flex; /* membuat kontainer untuk logo dan judul menjadi flex container */
  align-items: center; /* mengatur konten di tengah secara vertikal */
}

/* Style untuk logo */
header img {
  width: 50px; /* ukuran logo */
  margin-right: 0px; /* jarak antara logo dan teks */
}

/* Style untuk judul */
header h1 {
  margin: 0; /* menghapus margin default */
  font-size: 24px; /* ukuran font */
  color: #fff; /* warna teks */
}

/* Style untuk navigasi menu */
nav ul {
  list-style-type: none; /* menghilangkan bullet points pada daftar */
  margin: 0; /* menghapus margin default */
  padding-right: 0; /* menghapus padding default */
  display: flex; /* membuat daftar menjadi flex container */
}

nav li {
  margin-left: 15px; /* jarak antara setiap item menu */
}

nav a {
  text-decoration: none; /* menghapus garis bawah pada tautan */
  color: #fff; /* warna teks */
  margin-right: 25px;
  font-weight: bold; /* membuat teks menjadi tebal */
}

nav a:hover {
  color: #ff6347; /* warna teks saat dihover */
}

/* Style untuk hero element */
.hero {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.5);
}

.hero-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .hero-image {
    min-width: 1000px;
  }
}

/* CSS untuk daftar restoran menggunakan teknik Flexbox */
h2 {
  margin-top: 15px;
  color: #fff;
  text-align: center;
}

hr {
  margin: auto;
  border-bottom: 3px solid #ff6701;
  width: 200px;
}

#restaurant-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.restaurant {
  position: relative;
  flex: 1 1 calc(33.33% - 20px); /* 3 kolom, dengan jarak 20px */
  padding: 15px;
  border: 2px solid #ff6701;
  background-color: #f0e3ca;
  border-radius: 5px;
}

.restaurant-image {
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  width: 100%;
  height: auto;
}

.restaurant-info {
  margin-top: 10px;
  text-align: justify;
  color: #000;
}

.restaurant-info h2 {
  margin-bottom: 5px;
  color: #fea82f;
  text-shadow: 1px 1px 3px #fea82f;
}

.restaurant-info h4 {
  color: #ffff00;
  text-shadow: 1px 1px 2px black;
}

.restaurant-info h5 {
  display: block;
  background-color: #fff;
  line-height: 40px;
  padding-left: 15px;
  font-weight: bold;
  color: #333;
  width: 45%;
  height: 40px;
  position: absolute;
  left: -1px;
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #ff6701;
}

.restaurant-info p {
  margin-bottom: 5px;
}

.drawer-button {
  width: 44px;
  height: 44px;
  display: none;
}

@media screen and (max-width: 768px) {
  .drawer-button {
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-right: 25px;
    top: 5px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Animasi untuk muncul dari atas ke bawah */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Transisi untuk menu navigasi */
  nav {
    display: none; /* Sembunyikan menu navigasi secara default */
    position: absolute;
    top: 60px; /* Sesuaikan berdasarkan tinggi header */
    left: 0;
    width: 100%;
    background-color: #fea82f;
    z-index: 1;
    animation: slideDown 0.5s ease; /* Panggil animasi saat menu ditampilkan */
    box-shadow: 0px 7px 7px 1px rgba(0, 0, 0, 0.5);
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
  }

  nav li {
    margin: 10px 0;
    color: #fff;
  }

  /* Tampilkan menu navigasi saat tombol drawer diklik */
  nav.show {
    display: block;
  }
}

footer {
  background-color: #fea82f;
  color: #fff;
  padding: 50px 25px;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0 -5px 10px 2px rgba(0, 0, 0, 0.5);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.footer-menu {
  display: flex;
  gap: 20px;
}

.footer-menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #ff6347;
}

.footer-info {
  font-size: 14px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-menu {
    margin-top: 20px;
  }
  .footer-menu a {
    margin-bottom: 70px;
  }
}

/* Tambahkan CSS untuk tautan "Skip to Content" */
.skip-to-content {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Tambahkan CSS untuk tombol dengan ukuran touch target minimal 44x44px */
.drawer-button {
  width: 44px;
  height: 44px;
}

/* Tambahkan CSS untuk jarak antara elemen-elemen */
/* Misalnya, antara tombol dan navigasi */
.drawer-button,
nav {
  margin-top: 10px;
}

/* Tambahkan CSS untuk alternative teks pada gambar */
img {
  max-width: 100%; /* Pastikan gambar tidak melebihi ukuran kontainer */
}
